#table{
    border-collapse: collapse;
}
td,.inputGraf{
    border: 1px solid black;
    width: 30px;
    height: 20px;
    text-align: center;
}
.inputGraf{
    border: none;
    outline: none;
}#rozrahunokDiv{
     width: 545px;
     min-height: 150px;
     padding: 51px 31px 103px 55px;
     font-family: Courier, monospace;
     background-size: cover;
}
.flex{
 display: flex;
}
.first{
 width: 337px
}
.two{
width: 68px;
}
.alignRight{
text-align: right;
}
.flexBetween{
display: flex;
justify-content: space-between;
}
.three{
width: 116px;
}